{% extends "core/user_profile.html" %}

{% block content_body %}
            
              <!-- child template -->
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
              <h1>Upload Education Background</h1>
              <form accept-charset="UTF-8" action="{{url_for('core.upload_education', informationuserid=informationuserid)}}" enctype="multipart/form-data" method="POST" target="_blank">
                <div class="form-group">
                  <label for="typeDegree">Degree Type</label>
                  <input type="text" name="typeDegree" class="form-control" id="typeDegree" placeholder="Enter your type Degree" required="required">
                </div>
                <hr>
                 <div class="form-group mt-3">
                     <label class="mr-2">Upload your Education Degree:</label>
                     <input type="file" name="fileeducation">
                 </div>
                 <hr>
                 <button type="submit" class="btn btn-primary">Upload</button>     
              </form>
         
              <br>
             <div class="row">
                 <div class="col-sm-3">
                     <p class="mb-0" style="color:red">The Education Degree list</p>
                 </div>
             </div>
           
             <!-- Display existing records -->
             {% if temp %}
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Document No</th>
                             <th>Degree Type</th>
                             <th>File Name</th>
                             <th>Dowload</th>
                             <th>Delete</th>
         
                         </tr>
                     </thead>
                     <tbody>
                         {% for record in temp %}
                             <tr>
                                 <td>{{ record[0] }}</td>
                                 <td>{{ record[1] }}</td>
                                 <td>{{ record[2] }}</td>
                                 <td>
                                   <a href="{{ record[3] }}" target="_blank">Dowload</a>
                                 </td>
                                 <td>
                                   <a href=""
                                    class="btn btn-danger btn-sm">
                                     <i class="fas fa-trash-alt"></i>
                                 </a>
                                 </td>
         
                             </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             {% else %}
                 <p>No documents available.</p>
             {% endif %}
         
          </div> 
        </div>
    </div>
</div>
         
  </section>

{%endblock %}




