{% extends "core/user_profile.html" %}

{% block content_body %}        
              <!-- child template -->
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            {% if readrights==4 or readrights==None %}
              <h1>Upload Qualification document</h1>
              <form accept-charset="UTF-8" action="{{url_for('core.upload_qualification', informationuserid=informationuserid)}}" enctype="multipart/form-data" method="POST" target="_blank">
                <div class="form-group">
                  <label for="typeQualification">Qualification Type</label>
                  <input type="text" name="typeQualification" class="form-control" id="typeQualification" placeholder="Enter your Qualification Type " required="required">
                </div>
                <hr>
                 <div class="form-group mt-3">
                     <label class="mr-2">Upload your Qualification document:</label>
                     <input type="file" name="filequalification">
                 </div>
                 <hr>
                 <button type="submit" class="btn btn-primary">Upload</button>     
              </form>
         
              <br>
              {% endif %}
             <div class="row">
                 <div class="col-sm-3">
                     <p class="mb-0" style="color:red">The Qualification List</p>
                 </div>
             </div>
             
             <!-- Display existing records -->
             {% if temp %}
                 <table class="table">
                     <thead>
                         <tr>
                             <th>Document No</th>
                             <th>Qualification Type</th>
                             <th>File Name</th>
                             <th>Dowload</th>
                             <th>Delete</th>
         
                         </tr>
                     </thead>
                     <tbody>
                         {% for record in temp %}
                             <tr>
                                 <td>{{record[0]}}</td>
                                 <td>{{ record[1] }}</td>
                                 <td>{{ record[2] }}</td>
                                 <td>
                                   <a href="{{ record[3] }}" target="_blank">Dowload</a>
                                 </td>
                                 <td>
                                   <a href=""
                                    class="btn btn-danger btn-sm">
                                     <i class="fas fa-trash-alt"></i>
                                 </a>
                                 </td>
         
                             </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             {% else %}
                 <p>No documents available.</p>
             {% endif %}
          </div>
        </div>
    </div>
</div> 

  </section>
{%endblock %}





