{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal text-center">group user</h1>
        <form role="form" method="post">
            <div >
                <div class="form-floating">
                  {{ form.group(placeholder="group", class="form-control mb-2") }}
                  {{ form.group.label }}
                    {% if form.group.errors %}
                      {% for error in form.group.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endfor %}
                    {% endif %}
                </div>
                <div class="form-floating">
                  {{ form.alias(placeholder="alias", class="form-control mb-2") }}
                  {{ form.alias.label }}
                    {% if form.alias.errors %}
                      {% for error in form.alias.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endfor %}
                    {% endif %}
                </div>
                <div class="form-floating">
                  {{ form.email(placeholder="email", class="form-control mb-2") }}
                  {{ form.email.label }}
                    {% if form.email.errors %}
                      {% for error in form.email.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endfor %}
                    {% endif %}
                </div>
                <div class="form-floating">
                  {{ form.url(placeholder="url", class="form-control mb-2") }}
                  {{ form.url.label }}
                    {% if form.url.errors %}
                      {% for error in form.url.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endfor %}
                    {% endif %}
                </div>
                <div class="form-floating">
                  {{ form.description(placeholder="description", class="form-control mb-2") }}
                  {{ form.description.label }}
                    {% if form.description.errors %}
                      {% for error in form.description.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endfor %}
                    {% endif %}
                </div>
                {% if rolegroup =="admin" or rolegroup =="manager" %}
                <div class="input-group-append">
                    <button name="updategroup" value="updategroup" type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Update</button>
                    <button name="deletegroup" value="deletegroup" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                </div>
                {% endif %}
            </div>
        </form>
        {% if rolegroup =="admin" or rolegroup =="manager" %}
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0" style="color:red">ADD USER</p>    
            </div>
        </div>
        <br>
    
        <form method="post">
            <div class="row">
              
              <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-3">
                        <label for="chooseuser" class="mb-0">choose user</label>
                    </div>
                      <div class="col-md-6">
                          <select class="form-select" id="usersSelect" name="usersSelect" style="width: 200px;">
                            {% for user in usersSelect %}
                            <option value="{{ user[0] }}">{{ user[1] }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                        <label for="chooseuser" class="mb-0">choose group role</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" id="grouprole" name="grouprole" style="width: 200px;">
                          {% for role in grouprole %}
                          <option value="{{ role[0] }}">{{ role[1] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                    <button type="submit" value="adduser" name="adduser" class="btn btn-primary">ADD</button>
                  </div>
                  
              </div>
          </div>
        </form>
        {% endif %}
        <!-- Display existing records -->
        {% if rolegroup=='leader' or rolegroup=='member' or rolegroup=='client'  %}
            <div class="row">
              <div class="col-sm-3">
                  <p class="mb-0" style="color:red">LIST USER</p>    
              </div>
            </div>
            <br>
        {% endif %}

  <table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>role group</th>
            <th>group name</th>
            <th>created date</th>
            {% if rolegroup =="admin" or rolegroup =="manager" or rolegroup=="leader" or rolegroup=="client" %}
            <th>Detail</th>
            {% endif %}
            {% if rolegroup =="admin" or rolegroup =="manager" %}
            <th>Delete</th>
            {% endif %}
    

        </tr>
    </thead>
    <tbody>
      {% for user in users %}
            <tr>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
                <td>{{user[4]}}</td>
                {% if rolegroup =="admin" or rolegroup =="manager" or rolegroup=="leader" or rolegroup=="client"%}
                <td>
                  <button onclick="location.href='/userinformation/{{user[5]}}/{{totp}}'" >view</button>
                </td>
                {% endif %}
                {% if rolegroup =="admin" or rolegroup =="manager" %}
                <td>
                  <a href="{{url_for('admin.deleteuser',idgroupuserdetail=user[0],idgroup=idgroup,rolegroup=rolegroup)}}"
                
                    class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> 
                </a>
                </td>
                {% endif %}
                
            </tr>
        {% endfor %}
    </tbody>
</table>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}